# This project needs core components located under bin directory to make things
# easier. Therefore, you must add the folder to the path. Direnv makes it for
# you automatically.
export PATH=$PATH:bin
